/* CSS for embed codes */
.easycastms-embed {
    margin: 0 auto;
    padding: 0;
    position: relative;
    text-align: left;
}
.easycastms-embed.fullscreen {
    margin: 0 !important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    background: #000;
    z-index: 10;
}
.easycastms-embed .easycastms-btn-place {
    margin: 0;
    padding: 0;
    top: 2px;
    right: 2px;
    position: absolute;
    overflow: hidden;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 2px;
}
.easycastms-embed .easycastms-btn-place div {
    margin: 3px;
    float: left;
    display: block;
}
.easycastms-embed .easycastms-btn-place div a {
    width: 24px;
    height: 24px;
    display: block;
    background: transparent none 50% 50% no-repeat;
}
.easycastms-embed .easycastms-btn-place .edit-btn a {
    background-image: url("../images/btn_edit.png");
}
.easycastms-embed .easycastms-btn-place .see-btn a {
    background-image: url("../images/btn_see.png");
}
.easycastms-embed .easycastms-btn-place .fullscreen-btn a {
    background-image: url("../images/btn_fullpage.png");
}
.easycastms-embed.fullscreen .easycastms-btn-place .fullscreen-btn a {
    background-image: url("../images/btn_fullpage_close.png");
}
.easycastms-embed iframe {
    margin: 0;
    padding: 0;
    border: 0 none;
    vertical-align: top;
}

