/* CSS for embed codes */
.mediapicker {
    margin: 0;
    padding: 0;
    display: block;
    width: 900px;
    height: 100%;
    position: relative;
    text-align: left;
}

/* base */
.mediapicker html,
.mediapicker body,
.mediapicker div,
.mediapicker table,
.mediapicker h1,
.mediapicker h2,
.mediapicker h3,
.mediapicker h4,
.mediapicker tr,
.mediapicker th,
.mediapicker td,
.mediapicker img,
.mediapicker ul,
.mediapicker ol,
.mediapicker li,
.mediapicker form { margin: 0; padding: 0; }

.mediapicker a {       color: #102b62; text-decoration: none; }
.mediapicker a:hover { color: #1f90cb; text-decoration: none; }

.mediapicker img { vertical-align: middle; border: 0 none; }

.mediapicker ul,
.mediapicker ol { padding-left: 16px; }
.mediapicker li { margin-top: 4px; margin-bottom: 4px; }

.mediapicker table { border-spacing: 0; border-collapse: collapse; }

.mediapicker p { margin: 8px 0; }

.mediapicker fieldset { margin: 4px; border-radius: 4px; }
.mediapicker legend { padding: 0 5px; }


/* structure */
.mediapicker .mp-left {
    top: 0;
    bottom: 0;
    left: 0;
    width: 30%;
    position: absolute;
}
.mediapicker .mp-right {
    top: 0;
    bottom: 0;
    right: 0;
    width: 70%;
    position: absolute;
}
.mediapicker .mp-column {
    padding: 4px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
}
.mediapicker .mp-left .mp-column {
    border-right: 1px solid #888;
}
.mediapicker .mp-right .mp-column {
    border-left: 1px solid #ccc;
}
.mediapicker .mp-column .mp-title {
    padding: 4px 8px;
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    height: 22px;
    line-height: 22px;
    font-weight: bold;
    background: #ddd;
    background: -moz-linear-gradient(top, #eee, #ccc);
    background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ccc));
}
.mediapicker .mp-column .mp-container {
    padding: 4px;
    top: 30px;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    overflow: auto;
}


/* messages */
.mediapicker .mp-message {
    margin: 4px;
    margin-bottom: 8px;
    display: none;
    border: 1px solid #ccc;
    background: #eee;
    background: -moz-linear-gradient(top, #fff, #ddd);
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd));
    border-radius: 5px;
}
.mediapicker .mp-message div {
    margin: 5px;
    line-height: 20px;
}
.mediapicker .mp-message .error,
.mediapicker .mp-message .warning,
.mediapicker .mp-message .info {
    padding: 10px 45px;
    padding-right: 0;
    background: transparent none 0 50% no-repeat;
}
.mediapicker .mp-message .error {   background-image: url("../images/40_error.png"); }
.mediapicker .mp-message .warning { background-image: url("../images/40_warning.png"); }
.mediapicker .mp-message .info {    background-image: url("../images/40_info.png"); }



/* channels tree */
.mediapicker .mp-tree ul {
    padding-left: 0;
}
.mediapicker .mp-tree li {
    list-style: none;
    line-height: 17px;
    overflow: hidden;
}
.mediapicker .mp-tree ul ul {
    display: none;
    padding-left: 20px;
}
.mediapicker .mp-tree li span {
    width: 17px;
    height: 17px;
    float: left;
    display: block;
    background: transparent none 50% 50% no-repeat; 
}
.mediapicker .mp-tree li span.list-none {
    background-image: url("../images/list_none.png"); 
}
.mediapicker .mp-tree li span.list-entry {
    padding-left: 0;
    cursor: pointer;
    background-image: url("../images/list_right.png");
}
.mediapicker .mp-tree li span.list-entry.opened {
    padding-left: 0;
    cursor: pointer;
    background-image: url("../images/list_down.png");
}
.mediapicker .mp-tree li a {
    margin-left: 21px;
    display: block;
}
.mediapicker .mp-tree .channel-active a {
    color: #1f90cb;
}
.mediapicker .mp-tree .channel-locked,
.mediapicker .mp-tree .channel-empty,
.mediapicker .mp-tree .channel-empty a {
    color: #666;
}


/* channel content list */
.mediapicker .item-entry {
    margin: 4px;
    margin-bottom: 8px;
    display: block;
    overflow: hidden;
    position: relative;
    border: 1px solid #ccc;
    background: #eee;
    background: -moz-linear-gradient(top, #fff, #ddd);
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd));
    border-radius: 5px;
}
.mediapicker .item-entry-preview {
    float: left;
    display: block;
    width: 120px;
    line-height: 86px;
    min-height: 86px;
}
.mediapicker .item-entry-preview img {
    margin: -2px 0;
    width: 120px;
    vertical-align: middle;
}
.mediapicker .item-entry-link {
    overflow: hidden;
    display: block;
}
.mediapicker .item-entry-content {
    padding: 10px;
    padding-left: 130px;
    display: block;
}

.mediapicker .item-entry-top-bar {
    padding-bottom: 4px;
    margin-bottom: 4px;
    display: block;
    font-size: 14px;
    font-weight: bold;
    border-bottom: 1px solid #888;
    overflow: hidden;
}
.mediapicker .item-entry-duration {
    margin-left: 10px;
    float: right;
    display: block;
    color: #666;
}
.mediapicker .item-entry-publication,
.mediapicker .item-entry-visibility,
.mediapicker .item-entry-state {
    margin-left: 10px;
    float: right;
    display: block;
    width: 16px;
    height: 16px;
    background: transparent none 0 0 no-repeat;
}
.mediapicker .item-entry-publication {
    background-image: url("../images/16_no.png");
}
.mediapicker .item-entry-publication.published {
    background-image: url("../images/16_yes.png");
}
.mediapicker .item-entry-visibility {
    background-image: url("../images/16_invisible.png");
}
.mediapicker .item-entry-state {
    background-image: url("../images/16_warning.png");
}
.mediapicker .item-entry-state.ready {
    background-image: none;
}

.mediapicker .item-entry-bottom-bar {
    padding-bottom: 4px;
    margin-bottom: 4px;
    display: block;
}
.mediapicker .item-entry-views,
.mediapicker .item-entry-comments {
    margin-left: 10px;
    float: right;
    display: block;
    color: #666;
}
.mediapicker .item-entry-creation,
.mediapicker .item-entry-status {
    color: #666;
    font-style: italic;
}

.mediapicker .item-entry-links {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: none;
}
.mediapicker .item-entry:hover .item-entry-links {
    display: block;
}


/* preview place */
#media_picker_preview {
    overflow: hidden;
}
#media_picker_preview img {
    margin-right: 10px;
    float: left;
    display: block;
    width: 120px;
}
#media_picker_preview div {
    margin-bottom: 10px;
}











