/* CSS for catalog browser */
.catalogbrowser {
    margin: 0;
    padding: 0;
    display: block;
    width: 900px;
    height: 100%;
    position: relative;
    text-align: left;
}

/* base */
.catalogbrowser html,
.catalogbrowser body,
.catalogbrowser div,
.catalogbrowser table,
.catalogbrowser h1,
.catalogbrowser h2,
.catalogbrowser h3,
.catalogbrowser h4,
.catalogbrowser tr,
.catalogbrowser th,
.catalogbrowser td,
.catalogbrowser img,
.catalogbrowser ul,
.catalogbrowser ol,
.catalogbrowser li,
.catalogbrowser form { margin: 0; padding: 0; }

.catalogbrowser a {       color: #102b62; text-decoration: none; }
.catalogbrowser a:hover { color: #1f90cb; text-decoration: none; }

.catalogbrowser img { vertical-align: middle; border: 0 none; }

.catalogbrowser ul,
.catalogbrowser ol { padding-left: 16px; }
.catalogbrowser li { margin-top: 4px; margin-bottom: 4px; }

.catalogbrowser table { border-spacing: 0; border-collapse: collapse; }

.catalogbrowser p { margin: 8px 0; }

.catalogbrowser fieldset { margin: 4px; border-radius: 4px; }
.catalogbrowser legend { padding: 0 5px; }


/* structure */
.catalogbrowser .cb-left {
    top: 0;
    bottom: 0;
    left: 0;
    width: 360px;
    position: absolute;
}
.catalogbrowser .cb-right {
    top: 0;
    bottom: 0;
    left: 360px;
    right: 0;
    position: absolute;
}
.catalogbrowser .cb-column {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
}
.catalogbrowser .cb-left .cb-column {
    border-right: 1px solid #888;
}
.catalogbrowser .cb-right .cb-column {
    border-left: 1px solid #ccc;
    display: none;
}
.catalogbrowser .cb-title {
    padding: 4px 8px;
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    height: 24px;
    line-height: 24px;
    font-weight: bold;
    background: #ddd;
    background: -moz-linear-gradient(top, #eee, #ccc);
    background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ccc));
    overflow: hidden;
}
.catalogbrowser .cb-column-search .cb-title span {
    margin-left: 24px;
    color: #444;
    font-style: italic;
} 
.catalogbrowser .cb-container {
    padding: 4px;
    top: 32px;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    overflow: auto;
}
.catalogbrowser .cb-left .cb-container {
    display: none;
}
.catalogbrowser.cb-display-list .cb-left .cb-container.cb-left-list,
.catalogbrowser.cb-display-list .cb-right .cb-column.cb-column-list,
.catalogbrowser.cb-display-search .cb-left .cb-container.cb-left-search,
.catalogbrowser.cb-display-search .cb-right .cb-column.cb-column-search,
.catalogbrowser.cb-display-latest .cb-left .cb-container.cb-left-latest,
.catalogbrowser.cb-display-latest .cb-right .cb-column.cb-column-latest {
    display: block;
}
.catalogbrowser .cb-search-title,
.catalogbrowser .cb-section {
    font-size: 125%;
    font-weight: bold;
    text-decoration: italic;
    color: #666;
}
.catalogbrowser .cb-search-title {
    margin-left: -8px;
    margin-bottom: 4px;
}
.catalogbrowser .cb-search-block {
    margin-left: 24px;
    margin-bottom: 16px;
}
.catalogbrowser .cb-search-input {
    margin-top: 8px;
}
.catalogbrowser .cb-search-input input {
    width: 20%;
}
.catalogbrowser .cb-search-input #catalog_browser_search {
    width: 72%;
}
.catalogbrowser .cb-latest-btn {
    margin: 8px 5px;
    text-align: center;
}
.catalogbrowser .cb-container.cb-left-latest {
    margin: 8px;
}

/* buttons */
.catalogbrowser .cb-btn {
    padding: 0 8px;
    cursor: pointer;
    line-height: 24px;
    font-weight: bold;
    border-radius: 4px;
    transition-duration: 0.3s;
    transition-property: background;
}
.catalogbrowser .cb-btn:hover {
    background: #ccc;
}
.catalogbrowser .cb-btn + .cb-btn {
    margin-left: 8px;
}
.catalogbrowser .cb-title .cb-btn {
    float: left;
    display: block;
}
.catalogbrowser .cb-btn.cb-active {
    background: #888;
    color: #fff;
}
.catalogbrowser .cb-title .cb-btn.cb-active {
    cursor: default;
}

/* filters menu and button */
.catalogbrowser .cb-filters-btn-place {
    top: 4px;
    bottom: 4px;
    right: 8px;
    position: absolute;
    height: 24px;
    line-height: 24px;
}
.catalogbrowser .cb-filters-menu {
    padding: 8px;
    top: 36px;
    right: 16px;
    position: absolute;
    display: none;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.catalogbrowser .cb-filters-menu.cb-active {
    display: block;
}
.catalogbrowser .cb-filters-menu label {
    margin-left: 16px;
}
.catalogbrowser .cb-filters-menu p {
    margin: 0;
    font-weight: bold;
}
.catalogbrowser .cb-filters-menu div + div {
    margin-top: 8px;
}

/* loading */
.catalogbrowser .cb-loading {
    padding: 5px;
    top: 8px;
    left: 40%;
    position: absolute;
    display: none;
    background: #000;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.catalogbrowser .cb-loading div {
    padding-left: 40px;
    line-height: 32px;
    font-size: 125%;
    background: transparent url("../images/icons/32/loading_black.gif") 0 50% no-repeat;
}

/* messages */
.catalogbrowser .info,
.catalogbrowser .success,
.catalogbrowser .warning,
.catalogbrowser .error,
.catalogbrowser .loading {
    margin: 5px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 38px;
    padding-right: 4px;
    line-height: 20px;
    min-height: 20px;
    display: block;
    border: 1px solid transparent;
    overflow: hidden;
    border-radius: 6px;
}
.catalogbrowser .info {
    color: #143447;
    border-color: #388fc4;
    background: #ebfaff url("../images/icons/messages/icon_24_info.png") 6px 50% no-repeat;
}
.catalogbrowser .success {
    color: #223205;
    border-color: #76ae12;
    background: #f2ffdb url("../images/icons/messages/icon_24_tick.png") 6px 50% no-repeat;
}
.catalogbrowser .warning {
    color: #150c03;
    border-color: #e47f25;
    background: #ffeddc url("../images/icons/messages/icon_24_warning.png") 6px 50% no-repeat;
}
.catalogbrowser .error {
    color: #390a0a;
    border-color: #e42626;
    background: #ffefef url("../images/icons/messages/icon_24_error.png") 6px 50% no-repeat;
}
.catalogbrowser .loading {
    padding-top: 8px;
    padding-bottom: 8px;
    line-height: 28px;
    min-height: 28px;
    padding-left: 48px;
    color: #000;
    border-color: #aaa;
    background: #eee url("../images/icons/messages/icon_32_loading.gif") 6px 50% no-repeat;
}


/* channels tree */
.catalogbrowser .cb-tree ul {
    padding-left: 0;
}
.catalogbrowser .cb-tree li {
    list-style: none;
    line-height: 17px;
    overflow: hidden;
}
.catalogbrowser .cb-tree ul ul {
    display: none;
    padding-left: 20px;
}
.catalogbrowser .cb-tree li span.list-none,
.catalogbrowser .cb-tree li span.list-entry {
    width: 17px;
    height: 17px;
    float: left;
    display: block;
    background: transparent none 50% 50% no-repeat; 
}
.catalogbrowser .cb-tree li span.list-none {
    background-image: url("../images/list_none.png"); 
}
.catalogbrowser .cb-tree li span.list-entry {
    padding-left: 0;
    cursor: pointer;
    background-image: url("../images/list_right.png");
}
.catalogbrowser .cb-tree li span.list-entry.opened {
    background-image: url("../images/list_down.png");
}
.catalogbrowser .cb-tree span.channel-btn {
    display: block;
    color: #102b62;
    cursor: pointer;
}
.catalogbrowser .cb-tree li span.channel-btn {
    margin-left: 21px;
}
.catalogbrowser .cb-tree span.channel-btn:hover,
.catalogbrowser .cb-tree .channel-active span.channel-btn {
    color: #1f90cb;
}
.catalogbrowser .cb-tree .channel-locked,
.catalogbrowser .cb-tree .channel-empty,
.catalogbrowser .cb-tree .channel-empty span.channel-btn {
    color: #666;
}


/* channel content list */
.catalogbrowser .item-entry {
    margin: 4px;
    margin-bottom: 8px;
    display: block;
    overflow: hidden;
    position: relative;
    border: 1px solid #ccc;
    background: #eee;
    background: -moz-linear-gradient(top, #fff, #ddd);
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd));
    border-radius: 5px;
}
.catalogbrowser .item-entry.selectable {
    border-color: #bce;
    background: #def;
    background: -moz-linear-gradient(top, #fff, #def);
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#def));
}
.catalogbrowser .item-entry.selected {
    border-color: #cdc;
    background: #efe;
    background: -moz-linear-gradient(top, #fff, #dfd);
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dfd));
}
.catalogbrowser .item-entry-preview {
    float: left;
    width: 120px;
    line-height: 86px;
    min-height: 86px;
    display: block;
    position: relative;
}
.catalogbrowser .item-entry-small .item-entry-preview {
    width: 60px;
    line-height: 40px;
    min-height: 40px;
}
.catalogbrowser .item-entry-preview img {
    margin: -2px 0;
    width: 100%;
    vertical-align: middle;
}
.catalogbrowser .item-entry-preview span {
    top: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
    display: block;
    background: transparent none 50% 50% no-repeat;
}
.catalogbrowser .item-entry-preview .item-current-icon {
    background-image: url("../images/icons/32/channel.png");
}
.catalogbrowser .item-entry-preview .item-parent-icon {
    background-image: url("../images/icons/32/parent.png");
}
.catalogbrowser .item-entry-link {
    overflow: hidden;
    display: block;
}
.catalogbrowser .item-entry-link.clickable {
    color: #102b62;
    cursor: pointer;
}
.catalogbrowser .item-entry-link.clickable:hover {
    color: #1f90cb;
}
.catalogbrowser .item-entry-content {
    padding: 10px;
    padding-left: 130px;
    display: block;
}
.catalogbrowser .item-entry-small .item-entry-content {
    padding: 0;
    padding-left: 64px;
    line-height: 40px;
}

.catalogbrowser .item-entry-top-bar {
    padding-bottom: 4px;
    margin-bottom: 4px;
    display: block;
    font-size: 14px;
    font-weight: bold;
    border-bottom: 1px solid #888;
    overflow: hidden;
}
.catalogbrowser .item-entry-small .item-entry-content .item-entry-top-bar {
    padding-bottom: 0;
    margin-bottom: 0;
    border: 0 none;
}
.catalogbrowser .item-entry-duration {
    margin-left: 10px;
    float: right;
    display: block;
    color: #666;
}
.catalogbrowser .item-entry-visibility,
.catalogbrowser .item-entry-accessibility,
.catalogbrowser .item-entry-publication,
.catalogbrowser .item-entry-state {
    margin-left: 10px;
    float: right;
    display: block;
    width: 16px;
    height: 16px;
    background: transparent none 0 0 no-repeat;
}
.catalogbrowser .item-entry-visibility,
.catalogbrowser .item-entry-accessibility { background-image: url("../images/icons/16/cancel.png"); }
.catalogbrowser .item-entry-visibility.all,
.catalogbrowser .item-entry-accessibility.all { background-image: url("../images/icons/16/users.png"); }
.catalogbrowser .item-entry-visibility.auth,
.catalogbrowser .item-entry-accessibility.auth { background-image: url("../images/icons/16/user.png"); }
.catalogbrowser .item-entry-visibility.perm,
.catalogbrowser .item-entry-accessibility.perm { background-image: url("../images/icons/16/rights.png"); }
.catalogbrowser .item-entry-publication { background-image: url("../images/icons/16/no.png"); }
.catalogbrowser .item-entry-publication.published { background-image: url("../images/icons/16/yes.png"); }
.catalogbrowser .item-entry-state { background-image: url("../images/icons/16/warning.png"); }
.catalogbrowser .item-entry-state.ready { background-image: none; }

.catalogbrowser .item-entry-bottom-bar {
    display: block;
}
.catalogbrowser .item-entry-views,
.catalogbrowser .item-entry-comments,
.catalogbrowser .item-entry-type {
    margin-left: 10px;
    float: right;
    display: block;
    color: #666;
}
.catalogbrowser .item-entry-date,
.catalogbrowser .item-entry-parent {
    color: #666;
    font-style: italic;
    display: block;
}

.catalogbrowser .item-entry-links {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: none;
}
.catalogbrowser .item-entry-small .item-entry-links {
    top: 0;
    bottom: 0;
    line-height: 40px;
}
.catalogbrowser .item-entry:hover .item-entry-links {
    display: block;
}
.catalogbrowser .item-entry-links .std-btn {
    cursor: pointer;
}

.catalogbrowser .cb-latest-place.no-channels .item-type-channel {
    display: none;
}

