/* CSS for catalog browser */
.catalogbrowser {
    position: relative;

    display: block;

    width: 900px;
    height: 100%;
    margin: 0;
    padding: 0;

    text-align: left;
}

/* base */
.catalogbrowser html,
.catalogbrowser body,
.catalogbrowser div,
.catalogbrowser table,
.catalogbrowser h1,
.catalogbrowser h2,
.catalogbrowser h3,
.catalogbrowser h4,
.catalogbrowser tr,
.catalogbrowser th,
.catalogbrowser td,
.catalogbrowser img,
.catalogbrowser ul,
.catalogbrowser ol,
.catalogbrowser li,
.catalogbrowser form {
    margin: 0;
    padding: 0;
}

.catalogbrowser a {
    text-decoration: none;

    color: #102b62;
}
.catalogbrowser a:hover {
    text-decoration: none;

    color: #1f90cb;
}

.catalogbrowser img {
    vertical-align: middle;

    border: 0 none;
}

.catalogbrowser ul,
.catalogbrowser ol {
    padding-left: 24px;
}
.catalogbrowser li {
    margin-top: 4px;
    margin-bottom: 4px;
}

.catalogbrowser table {
    border-spacing: 0;
    border-collapse: collapse;
}

.catalogbrowser p {
    margin: 8px 0;
}

.catalogbrowser fieldset {
    margin: 4px;

    border-radius: 4px;
}
.catalogbrowser legend {
    padding: 0 5px;
}


/* structure */
.catalogbrowser .cb-left {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;

    width: 360px;
}
.catalogbrowser .cb-right {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 360px;
}
.catalogbrowser .cb-column {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.catalogbrowser .cb-left .cb-column {
    border-right: 1px solid #888;
}
.catalogbrowser .cb-right .cb-column {
    display: none;

    border-left: 1px solid #ccc;
}
.catalogbrowser .cb-title {
    font-weight: bold;
    line-height: 24px;

    position: absolute;
    top: 0;
    right: 0;
    left: 0;

    overflow: hidden;

    height: 24px;
    padding: 4px 6px;

    background: #ddd;
    background: -moz-linear-gradient(top, #eee, #ccc);
    background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ccc));
}
.catalogbrowser .cb-column-search .cb-title span {
    font-style: italic;
    font-size: 80%;

    margin-left: 24px;

    color: #444;
}
.catalogbrowser .cb-container {
    position: absolute;
    top: 32px;
    right: 0;
    bottom: 0;
    left: 0;

    overflow: auto;

    padding: 4px;
}
.catalogbrowser .cb-container .cb-content {
    position: relative;
}
.catalogbrowser .cb-left .cb-container {
    display: none;
}
.catalogbrowser.cb-display-list .cb-left .cb-container.cb-left-list,
.catalogbrowser.cb-display-list .cb-right .cb-column.cb-column-list,
.catalogbrowser.cb-display-search .cb-left .cb-container.cb-left-search,
.catalogbrowser.cb-display-search .cb-right .cb-column.cb-column-search,
.catalogbrowser.cb-display-latest .cb-left .cb-container.cb-left-latest,
.catalogbrowser.cb-display-latest .cb-right .cb-column.cb-column-latest {
    display: block;
}
.catalogbrowser .cb-search-title,
.catalogbrowser .cb-display-title,
.catalogbrowser .cb-section {
    font-size: 125%;
    font-weight: bold;

    text-decoration: italic;

    color: #666;
}
.catalogbrowser .cb-display-title,
.catalogbrowser .cb-search-title {
    margin-bottom: 4px;
    margin-left: -8px;
}
.catalogbrowser .cb-search-block {
    margin-bottom: 16px;
    margin-left: 24px;
}
.catalogbrowser .cb-search-input {
    margin-top: 8px;
}
.catalogbrowser .cb-search-input input {
    width: auto;
    padding: 3px;
}
.catalogbrowser .cb-search-input #catalog_browser_search {
    width: 72%;
}
.catalogbrowser .cb-latest-btn {
    margin: 8px 5px;

    text-align: center;
}
.catalogbrowser .cb-container.cb-left-latest {
    margin: 8px;
}

/* buttons */
.catalogbrowser .cb-btn {
    font-weight: bold;
    line-height: 24px;

    padding: 0 8px;

    cursor: pointer;
    transition-duration: .3s;
    transition-property: background;

    border-radius: 4px;
}
.catalogbrowser .cb-btn:hover {
    background: #ccc;
}
.catalogbrowser .cb-btn + .cb-btn {
    margin-left: 2px;
}
.catalogbrowser .cb-title .cb-btn {
    display: block;
    float: left;
}
.catalogbrowser .cb-btn.cb-active {
    color: #fff;
    background: #888;
}
.catalogbrowser .cb-title .cb-btn.cb-active {
    cursor: default;
}

/* filters menu and button */
.catalogbrowser .cb-display-btn-place,
.catalogbrowser .cb-filters-btn-place {
    line-height: 24px;

    position: absolute;
    z-index: 1;
    top: 4px;
    right: 100px;

    height: 24px;
}
.catalogbrowser .cb-display-btn-place {
    right: 8px;
}
.catalogbrowser .cb-display-btn-place .tab-button {
    display: block;
    margin-top: -2px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 4px;
    line-height: 100%;
}
.catalogbrowser .cb-display-menu,
.catalogbrowser .cb-filters-menu {
    position: absolute;
    z-index: 4;
    top: 36px;
    right: 8px;

    display: none;

    padding: 8px;

    border: 1px solid #ccc;
    border-radius: 4px;
    background: #fff;
}
.catalogbrowser .cb-display-menu.cb-active,
.catalogbrowser .cb-filters-menu.cb-active {
    display: block;
}
.catalogbrowser .cb-display-menu label,
.catalogbrowser .cb-filters-menu label {
    margin-left: 16px;
}
.catalogbrowser .cb-display-menu p,
.catalogbrowser .cb-filters-menu p {
    font-weight: bold;

    margin: 0;
}
.catalogbrowser .cb-display-menu div + div,
.catalogbrowser .cb-filters-menu div + div {
    margin-top: 8px;
}

/* loading */
.catalogbrowser .cb-loading {
    position: absolute;
    top: 8px;
    left: 40%;

    display: none;

    padding: 5px;

    color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #000;
    background: rgba(0, 0, 0, .7);
}
.catalogbrowser .cb-loading div {
    font-size: 125%;
    line-height: 32px;

    padding-left: 40px;

    background: transparent url('../images/icons/32/loading_black.gif') 0 50% no-repeat;
}

/* messages */
.catalogbrowser .info,
.catalogbrowser .success,
.catalogbrowser .warning,
.catalogbrowser .error,
.catalogbrowser .loading {
    line-height: 20px;

    display: block;
    overflow: hidden;

    min-height: 20px;
    margin: 5px;
    padding-top: 4px;
    padding-right: 4px;
    padding-bottom: 4px;
    padding-left: 38px;

    border: 1px solid transparent;
    border-radius: 4px;
}
.catalogbrowser .info {
    color: #143447;
    border-color: #388fc4;
    background: #ebfaff url('../images/icons/messages/icon_24_info.png') 6px 50% no-repeat;
}
.catalogbrowser .success {
    color: #223205;
    border-color: #76ae12;
    background: #f2ffdb url('../images/icons/messages/icon_24_tick.png') 6px 50% no-repeat;
}
.catalogbrowser .warning {
    color: #150c03;
    border-color: #e47f25;
    background: #ffeddc url('../images/icons/messages/icon_24_warning.png') 6px 50% no-repeat;
}
.catalogbrowser .error {
    color: #390a0a;
    border-color: #e42626;
    background: #ffefef url('../images/icons/messages/icon_24_error.png') 6px 50% no-repeat;
}
.catalogbrowser .loading {
    line-height: 28px;

    min-height: 28px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 48px;

    color: #000;
    border-color: #aaa;
    background: #eee url('../images/icons/messages/icon_32_loading.gif') 6px 50% no-repeat;
}


/* channels tree */
.catalogbrowser .cb-tree ul {
    padding-left: 0;
}
.catalogbrowser .cb-tree li {
    line-height: 17px;

    overflow: hidden;

    list-style: none;
}
.catalogbrowser .cb-tree ul ul {
    display: none;

    padding-left: 20px;
}
.catalogbrowser .cb-tree li span.list-none,
.catalogbrowser .cb-tree li span.list-entry {
    display: block;
    float: left;

    width: 17px;
    height: 17px;

    background: transparent none 50% 50% no-repeat;
}
.catalogbrowser .cb-tree li span.list-none {
    background-image: url('../images/list_none.png');
}
.catalogbrowser .cb-tree li span.list-entry {
    padding-left: 0;

    cursor: pointer;

    background-image: url('../images/list_right.png');
}
.catalogbrowser .cb-tree li span.list-entry.opened {
    background-image: url('../images/list_down.png');
}
.catalogbrowser .cb-tree .channel-btn {
    display: block;

    cursor: pointer;

    color: #102b62;
}
.catalogbrowser .cb-tree li .channel-btn {
    margin-left: 21px;
}
.catalogbrowser .cb-tree .channel-btn:hover,
.catalogbrowser .cb-tree .channel-active .channel-btn {
    color: #1f90cb;
}
.catalogbrowser .cb-tree .channel-locked,
.catalogbrowser .cb-tree .channel-empty,
.catalogbrowser .cb-tree .channel-empty .channel-btn {
    color: #666;
}


/* channel content list */
.catalogbrowser .item-entry {
    position: relative;

    display: block;
    overflow: hidden;

    margin: 4px;
    margin-bottom: 8px;

    border: 1px solid #ccc;
    border-radius: 5px;
    background: #eee;
    background: -moz-linear-gradient(top, #fff, #ddd);
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd));
}
.catalogbrowser .item-entry.thumbnail.selectable {
    border: 2px solid #5b79c4;
}
.catalogbrowser .item-entry.thumbnail.selected {
    border: 2px solid #52ac49;
}
.catalogbrowser .item-entry.selectable {
    border-color: #bce;
    background: #def;
    background: -moz-linear-gradient(top, #fff, #def);
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#def));
}
.catalogbrowser .item-entry.selected {
    border-color: #cdc;
    background: #efe;
    background: -moz-linear-gradient(top, #fff, #dfd);
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dfd));
}
.catalogbrowser .item-entry-preview {
    line-height: 86px;

    position: relative;

    display: block;
    float: left;

    width: 120px;
    min-height: 86px;
}
.catalogbrowser .item-entry-small .item-entry-preview {
    line-height: 40px;

    width: 60px;
    min-height: 40px;
}
.catalogbrowser .item-entry-preview img {
    max-width: 100%;
    margin: -2px 0;

    vertical-align: middle;
}
.catalogbrowser .item-entry-preview span {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;

    display: block;

    width: 100%;

    background: transparent none 50% 50% no-repeat;
}
.catalogbrowser .item-entry-preview .item-current-icon {
    background-image: url('../images/icons/32/channel.png');
}
.catalogbrowser .item-entry-preview .item-parent-icon {
    background-image: url('../images/icons/32/parent.png');
}
.catalogbrowser .item-entry-link {
    display: block;
    overflow: hidden;
}
.catalogbrowser .item-entry-link.clickable {
    cursor: pointer;

    color: #102b62;
}
.catalogbrowser .item-entry-link.clickable:hover {
    color: #1f90cb;
}
.catalogbrowser .item-entry-content {
    display: block;

    padding: 10px;
    padding-left: 130px;
}
.catalogbrowser .item-entry-small .item-entry-content {
    line-height: 40px;

    padding: 0;
    padding-left: 64px;
}

.catalogbrowser .item-entry-top-bar {
    font-size: 100%;
    font-weight: bold;

    display: block;
    overflow: hidden;

    margin-bottom: 4px;
    padding-bottom: 4px;

    border-bottom: 1px solid #888;
}
.catalogbrowser .item-entry-small .item-entry-content .item-entry-top-bar {
    margin-bottom: 0;
    padding-bottom: 0;

    border: 0 none;
}
.catalogbrowser .item-entry-duration {
    display: block;
    float: right;

    margin-left: 10px;

    color: #666;
}
.catalogbrowser .item-entry-unlisted,
.catalogbrowser .item-entry-publication,
.catalogbrowser .item-entry-state {
    display: block;
    float: right;

    width: 16px;
    height: 16px;
    margin-left: 10px;

    background: transparent none 50% 50% no-repeat;
}
.catalogbrowser .item-entry-unlisted {
    background-image: url('../images/icons/16/unlisted.png');
}
.catalogbrowser .item-entry-publication {
    background-image: url('../images/icons/16/no.png');
}
.catalogbrowser .item-entry-publication.published {
    background-image: url('../images/icons/16/yes.png');
}
.catalogbrowser .item-entry-state {
    background-image: url('../images/icons/16/warning.png');
}
.catalogbrowser .item-entry-state.ready {
    background-image: none;
}

.catalogbrowser .item-entry-bottom-bar {
    display: block;
}
.catalogbrowser .item-entry-views,
.catalogbrowser .item-entry-comments,
.catalogbrowser .item-entry-type {
    display: block;
    float: right;

    margin-left: 10px;

    color: #666;
}
.catalogbrowser .item-entry-date,
.catalogbrowser .item-entry-chapters,
.catalogbrowser .item-entry-parent {
    font-style: italic;

    display: block;

    color: #666;
}
.catalogbrowser .item-entry-chapters {
    padding-left: 10px;
}

.catalogbrowser .item-entry-links {
    position: absolute;
    right: 10px;
    bottom: 10px;

    display: none;
}
.catalogbrowser .item-entry-small .item-entry-links {
    line-height: 40px;

    top: 0;
    bottom: 0;
}
.catalogbrowser.cb-display-display .cb-left .cb-column .cb-display,
.catalogbrowser .item-entry:hover .item-entry-links {
    display: block;
}
.catalogbrowser .item-entry-links .std-btn {
    cursor: pointer;
}
.overlay-info .item-entry-links .std-btn a {
    text-decoration: none;

    color: #333;
}
.catalogbrowser .cb-left .cb-column .cb-display,
.catalogbrowser .cb-latest-place.no-channels .item-type-channel {
    display: none;
}
.catalogbrowser .cb-left .cb-display.cb-search-block .cb-btn {
    border: 1px solid #eee;
}
.catalogbrowser .cb-left .cb-display.cb-search-block .cb-search-title {
    margin-left: -5px;
}
.catalogbrowser .cb-section {
    clear: both;
}

/* thumbnail mode */
.catalogbrowser .item-entry.thumbnail * {
    margin: 0;
    padding: 0;
    display: block;
}
.catalogbrowser .item-entry.thumbnail .item-entry-preview,
.catalogbrowser .item-entry.thumbnail .item-entry-content,
.catalogbrowser .item-entry.thumbnail .item-entry-top-bar,
.catalogbrowser .item-entry.thumbnail .item-entry-bottom-bar {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: auto;
    position: absolute;
    background: transparent 50% 50% no-repeat;
    border: 0 none;
}
.catalogbrowser .item-entry.thumbnail .item-entry-date,
.catalogbrowser .item-entry.thumbnail .item-entry-links,
.catalogbrowser .item-entry.thumbnail .item-entry-parent,
.catalogbrowser .item-entry.thumbnail .item-entry-type {
    display: none;
}
.catalogbrowser .item-entry.thumbnail .item-entry-top-bar {
    right: auto;
    bottom: auto;
    border-bottom-right-radius: 4px;
}
.catalogbrowser .item-entry.thumbnail .item-entry-bottom-bar {
    top: auto;
}
.catalogbrowser .item-entry.thumbnail .item-entry-unlisted,
.catalogbrowser .item-entry.thumbnail .item-entry-publication,
.catalogbrowser .item-entry.thumbnail .item-entry-duration,
.catalogbrowser .item-entry.thumbnail .item-entry-state {
    float: left;
}
.catalogbrowser .item-entry.thumbnail .item-entry-top-bar > *,
.catalogbrowser .item-entry.thumbnail .item-entry-bottom-bar > * {
    font-weight: bold;
    font-style: italic;
    color: #bbb;
}
.catalogbrowser .item-entry.thumbnail:hover .item-entry-top-bar > *,
.catalogbrowser .item-entry.thumbnail:hover .item-entry-bottom-bar > * {
    color: #fff;
}
.catalogbrowser .item-entry.thumbnail .item-entry-bottom-bar,
.catalogbrowser .item-entry.thumbnail .item-entry-top-bar {
    background: transparent url('../images/black_mask.png') 0 0 repeat;
}
.catalogbrowser .item-entry.thumbnail .item-entry-title,
.catalogbrowser .item-entry.thumbnail .item-entry-unlisted,
.catalogbrowser .item-entry.thumbnail .item-entry-publication,
.catalogbrowser .item-entry.thumbnail .item-entry-duration {
    padding: 5px;
}
.catalogbrowser .item-entry.thumbnail .obj-block-info,
.catalogbrowser .item-entry.thumbnail .obj-block-edit {
    top: 5px;
    right: 5px;
    position: absolute;
    width: 56px;
    height: 56px;
    display: none;
    cursor: pointer;
    border: none;
}
.catalogbrowser .item-entry.thumbnail .obj-block-info {
    background: transparent url('../images/info_icon.png') 0 50% no-repeat;
}
.catalogbrowser .item-entry.thumbnail .obj-block-edit {
    top: 65px;
    right: 10px;
    width: 32px;
    height: 32px;
    background: transparent url('../images/icons/32/edit2.png') 0 50% no-repeat;
}
.catalogbrowser .item-entry.thumbnail:hover .obj-block-info,
.catalogbrowser .item-entry.thumbnail:hover .obj-block-edit {
    display: block;
}
.catalogbrowser .item-entry.thumbnail .info-displayed {
    background-position: 100% 50%;
}

.catalogbrowser .item-entry.thumbnail > div.item-entry-link.clickable {
    width: 100%;
    height: 100%;
}
.catalogbrowser .item-entry.thumbnail {
    display: block;
    float: left;
    overflow: hidden;

    width: 240px;
    height: 180px;
    margin: 4px;

    cursor: auto;
    text-align: center;

    border: 1px solid #888;
    border-radius: 4px;
    background: transparent;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, .5), rgba(0, 0, 0, .5));
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, .5)), to(rgba(0, 0, 0, .5)));
}
.catalogbrowser .cb-right .cb-column .cb-latest-place,
.catalogbrowser .cb-right .cb-column .cb-latest-btn {
    clear: both;
}
.cb-latest-place h3 {
    clear: both;
}
