{{=<% %>=}}
<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col>
      <div class="video-container">
        <iframe class="mediaserver-iframe" src="<% iframeurl %>" allow="autoplay; encrypted-media" allowfullscreen="allowfullscreen" frameborder="0"></iframe>
      </div>
    </ion-col>
  </ion-row>
</ion-content>